.custom-card {
  max-width: 100%;
  width: 100%;
  background-color: #f8e8e8;
  position: relative;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card-media {
  height: 10.62rem;
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover .custom-card-media {
  transform: scale(1.1);
}

.custom-card-button {
  position: absolute;
  bottom: 10px;
  left: 7rem;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: color 0.3s ease-in-out;
}

.custom-card-button:hover {
  color: #a00000;
}